.product {
    margin-top: 70px;
}
.shop-name {
    margin-top: 0;
}
.thumbnail {
    padding: 0;
}
.thumbnail img {
    width: 100%;
}
.content {
    margin-top: 5px;
    padding: 10px;
}
.content span {
    font-size: 18px;
}
.content .product-name {
    margin-bottom: 5px;
}
.rating {
    color: #d17581;
    padding: 0 10px;
}
.footer > div {
    margin: 50px 0;
}